// Buttons
.button-login {
    background-color: var(--second) ;
    color: #fff;
    border-radius: 5px;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 0.8rem;
    // border: 1px solid var(--primary-extra-light);
    margin-left: 0.8rem;
}
