// Globals
body {
    background-color: #fff;
    color: var(--primary);
    font-family: var(--font-body);
    margin: 10rem;
    box-sizing: border-box;
}
h1 {
    font-family: 'TimesModern-Bold';
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.75;
}
h2 {
    font-family: 'TimesModern-Bold';
    font-size: 2rem;
    font-weight: 500;
    line-height: 0.75;
    margin-bottom: 20px;
}
h3 {
    font-family: 'TimesModern-Bold';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0.75;
    margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5 {
    text-transform: capitalize;
}
a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    border: none;
}
