// Sass
@import '_variables.scss';
@import 'reset';
@import 'globals';
@import 'layout';
@import 'components';
@import 'partials/question';
@import 'partials/comment';
@import 'partials/my_answers';
// Navigation
.nav-header {
    position: relative;
    display: flex;
    // padding: 32px 0;
    align-items: flex-end;
    min-height: 1.4rem;
}
.nav-title {
    position: absolute;
    width: 100%;
    text-align: center;
}
.nav-icons {
    flex: 0 0 auto;
    text-align: right;
    z-index: 1;
}
.nav-date {
    flex: 1 1 auto;
    color: var(--primary-light);
    font-family: var(--font-mono);
}
.nav-search {
    display: none;
    border: none;
    border-bottom: 0.1em solid var(--primary);
    padding: 8px;
}
.nav-search__icon {
    position: absolute;
}
// Navigation Bar
.navbar {
    padding: 0.8rem 0;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}
.navbar-list {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-mono);
    color: var(--primary-light);
}
// Percent
.percent-bar {
    width: 100%;
    border-radius: 5px;
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    color: #fff;
}
.percent-bar-positive {
    background-color: #1de9b6;
}
.percent-bar-negative {
    background-color: #ffab91;
}
// Popular
.popular-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.popular-number {
    padding: 0.5em;
    font-size: 3em;
    color: var(--second);
}
.popular-body {
    flex: 1 1 auto;
    padding: 1em;
    font-size: 1.2em;
    color: var(--primary-light);
    line-height: 1.5;
}
// other
.answer {
    width: 25%;
    min-width: 25%;
}
.answer-body {
    padding-left: 1.5rem;
}
.percent.off {
    opacity: 0;
}
.percent.on {
    opacity: 1;
    transition: opacity 0.3s linear;
}

a .fa {
    font-size: 20px;
    margin-right: 10px;
}