.comments {
    padding: 1rem;
    width: 100%;
}
.comment {
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-start;
}
.comment-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0  2rem;
    margin: 0 1rem;
    border-top: 1px solid var(--primary-extra-light);
}
.comment img {
    width: 3rem;
    border-radius: 5px;
}
.comment-head {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: .5rem;
}
.comment-text {
    word-break: break-all;
    padding-right: 2rem;
}
.comment-author {
    margin-right: 1rem;
    color: var(--primary-light);
    font-weight: 500;
    text-transform: capitalize;
}
.comment-date {
    color: var(--primary-extra-light);
    font-size: 0.7rem;
    font-family: var(--font-mono);
}
.comment-like {
    display: inline-flex;
    justify-content: space-between;
    width: 2rem;
    color: var(--primary-light);
}
.comment-like .fas {
    color: var(--second)
}
// .comments li:last-of-type .comment-body{
//     border-bottom: none;
// }
